Repository rise-summer/team2-studentRideSharing, pull requests merged in 2020-07, with the labels that each got.

#13 #2 - Basic Search GUI
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Ride/Ride.css
  frontend/src/components/Ride/Ride.js
  frontend/src/components/RidesList/RideList.css
  frontend/src/components/RidesList/RideList.js
  frontend/src/components/SearchBar/SearchBar.css
  frontend/src/components/SearchBar/SearchBar.js
  frontend/src/pages/Search/Search.css
  frontend/src/pages/Search/Search.js
Labels: MVP, frontend

#15 #8 Add api support for get a single ride
  backend/README.md
  backend/routes/api.js
  backend/test/dbTest.js
Labels: backend

#20 #17 #18 Add support for posting new user and cars
  backend/routes/rides.js
  backend/routes/users.js
  backend/routes/vehicles.js
  backend/server.js
  backend/test/dbTest.js
Labels: backend

#14 #3 - Driver Listing Page
  backend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/NumberPicker/NumberPicker.js
  frontend/src/components/SearchBar/SearchBar.js
  frontend/src/components/TimePicker/TimePicker.js
  frontend/src/logo.svg
  frontend/src/pages/DriverListing.js
  frontend/src/pages/Signin.js
  frontend/src/pages/Signup.js
  frontend/src/pages/google-login.png
  frontend/yarn.lock
Labels: frontend

#25 #18 Add contact field for user signup
  backend/README.md
  backend/routes/rides.js
  backend/routes/users.js
Labels: backend
