Repository rise-summer/team2-studentRideSharing, pull requests merged in 2020-08, with the labels that each got.

#28 #26 add support for fetching and updating user info
  backend/routes/rides.js
  backend/routes/users.js
Labels: backend

#31 #24 add support for canceling/deleting rides
  backend/db.js
  backend/routes/requests.js
  backend/routes/rides.js
  backend/routes/users.js
  backend/server.js
Labels: backend

#37 Profile page
  backend/routes/rides.js
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/components/CancelRideButton/CancelRideButton.js
  frontend/src/components/ProfileDetails/ProfileDetails.js
  frontend/src/components/ProfileListings/ProfileListings.js
  frontend/src/components/ProfileTabs/ProfileTabs.js
  frontend/src/components/Ride/Ride.js
  frontend/src/components/RideProfile/RideProfile.js
  frontend/src/components/SignIn/SignIn.js
  frontend/src/components/Signup/SignUp.js
  frontend/src/pages/DriverListing/DriverListing.js
  frontend/src/pages/LoginPage/LoginPage.js
  frontend/src/pages/Profile/Profile.js
  frontend/src/pages/Search/Search.css
Labels: frontend

#43 #19 #35 Ride Details Page and Request Email Notification button
  backend/package-lock.json
  backend/package.json
  backend/routes/requests.js
  backend/routes/rides.js
  backend/routes/users.js
  backend/routes/vehicles.js
  backend/server.js
  frontend/src/App.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/pages/RideDetails/RideDetails.js
Labels: backend, frontend

#45 #44 Implement 'request a ride' PopUp Page
  backend/routes/requests.js
  backend/routes/rides.js
  backend/routes/users.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/pages/RideDetails/RideDetails.css
  frontend/src/pages/RideDetails/RideDetails.js
Labels: backend, frontend

#50 #49 Implement viewing/denying/confirming of ride requests
  backend/routes/requests.js
  frontend/src/components/CancelRideButton/CancelRideButton.js
  frontend/src/components/Rides/RequestItem.css
  frontend/src/components/Rides/RequestItem.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/components/Rides/RideProfile.css
  frontend/src/components/Rides/RideProfile.js
  frontend/src/components/UserProfiles/ProfileDetails.js
  frontend/src/components/UserProfiles/ProfileListings.js
  frontend/src/components/UserProfiles/ProfileTabs.js
  frontend/src/pages/Profile/Profile.js
  frontend/src/pages/RideDetails/RideDetails.js
Labels: backend, frontend

#53 #51 Implement 'My Requests' Tab on UserProfile Page and Update /api/requests
  backend/routes/requests.js
  frontend/src/components/Requests/RequestItem.css
  frontend/src/components/Requests/RequestItem.js
  frontend/src/components/Rides/RequestItem.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/components/Rides/RideProfile.js
  frontend/src/components/UserProfiles/ProfileListings.js
  frontend/src/components/UserProfiles/ProfileRequests.js
  frontend/src/components/UserProfiles/ProfileTabs.js
  frontend/src/pages/Profile/Profile.js
  frontend/src/pages/RideDetails/RideDetails.js
Labels: backend, frontend

#55 #54 Set up scheduled task for backend
  backend/package-lock.json
  backend/package.json
  backend/routes/requests.js
  backend/server.js
  frontend/src/components/Requests/RequestItem.js
  frontend/src/components/Rides/RideProfile.js
  frontend/src/components/UserProfiles/ProfileRequests.js
Labels: backend, frontend

#69 #58 Connect user auth status among the app
  backend/routes/users.js
  frontend/src/App.js
  frontend/src/components/Auth/SignIn.js
  frontend/src/components/Auth/SignUp.js
  frontend/src/components/CreateRideComponents/DriverListing.js
  frontend/src/components/Navbar/Navbar.js
  frontend/src/components/Navigation/PrivateRoute.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/components/SearchComponents/SearchBox.js
  frontend/src/components/SearchComponents/SearchLanding.js
  frontend/src/firebase.js
  frontend/src/index.js
  frontend/src/pages/CreateRide/CreateRide.js
  frontend/src/pages/LoginPage/LoginPage.js
  frontend/src/pages/Profile/Profile.js
  frontend/src/pages/RideDetails/RideDetails.js
  frontend/src/pages/Search/Search.js
  frontend/src/reducers/SearchReducers.js
Labels: frontend

#70 #63 Update SignUp Form and Enable User Profile Picture Uploading
  backend/db.js
  backend/routes/colleges.js
  backend/routes/users.js
  backend/server.js
  frontend/src/App.js
  frontend/src/components/Auth/SignUp.js
  frontend/src/components/Rides/RequestRide.js
  frontend/src/firebase.js
  frontend/src/pages/LoginPage/LoginPage.js
  frontend/src/pages/Profile/Profile.js
Labels: backend, frontend

#76 #75 Fix redirect url on search result page and hide back button
  frontend/src/components/Rides/RideList.js
  frontend/src/pages/RideDetails/RideDetails.js
Labels: bug
